
@{
    ViewBag.Title = "ViewGetAreas";
}

<div id="grid"></div>
<div style='margin-top: 20px;'>
    <div style='float: left;'>
        <input type="button" value="Export to Excel" id='excelExport' />
        <br /><br />
        <input type="button" value="Export to XML" id='xmlExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Export to CSV" id='csvExport' />
        <br /><br />
        <input type="button" value="Export to TSV" id='tsvExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Export to HTML" id='htmlExport' />
        <br /><br />
        <input type="button" value="Export to JSON" id='jsonExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Export to PDF" id='pdfExport' />
    </div>
</div>

