@model ProjectExpenseControl.Models.StatusAprov

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Estatus de Aprobación</h2>

<h3>¿Está seguro de eliminar el estatus de aprobación?</h3>
<div>
    <h4>Estatus de Aprobación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STA_DES_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STA_DES_STATUS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
