<div id="grid"></div>
<div style='margin-top: 20px;'>
    <div style='float: left;'>
        <input type="button" value="Exportar a Excel" id='excelExport' />
        <br /><br />
        <input type="button" value="Exportar a XML" id='xmlExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Exportar a CSV" id='csvExport' />
        <br /><br />
        <input type="button" value="Exportar a HTML" id='htmlExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Exportar a JSON" id='jsonExport' />
        <br /><br />
        <input type="button" value="Exportar a PDF" id='pdfExport' />
    </div>
</div>